Вам даны данные результатов ЕГЭ по различным предметам. Выполните следующие действия:

In [7]:
import numpy as np
import pandas as pd

In [92]:
pd.DataFrame(range(1,5),
             index=['q','a','s','d']
)

   0
q  1
a  2
s  3
d  4

Загрузите данные в ноутбук

In [110]:
def exam_reader(var: int):
    return pd.read_excel(
        f'Вариант {var}.xlsx',
        header=2,
        index_col=0,
        skipfooter=1
    )

# exams = pd.DataFrame(
#     np.array([exam_reader(i) for i in range(1,5)], dtype="object"),
#     index=['rus', 'math', 'physics', 'informatics'],
#     columns=['data']
# )
exams = pd.Series(
    [exam_reader(i) for i in range(1,5)],
    index=['rus', 'math', 'physics', 'informatics']
)
exams

rus                  № школы Класс Пол  Номер варианта  Задан...
math                 № школы Класс Пол  Номер варианта Задани...
physics              № школы Класс Пол  Номер варианта    Зад...
informatics         № школы Класс Пол  Номер варианта Задания...
dtype: object

Cделайте описательную статистику по набранному баллу

In [111]:
stat = exams.apply(lambda x: x['Балл'].describe())
stat

              count       mean        std   min   25%   50%    75%    max
rus          3048.0  72.769029  13.664908  20.0  64.0  72.0  82.00  100.0
math         2356.0  49.255093  17.880420   5.0  33.0  50.0  68.00   96.0
physics      1180.0  52.047458  14.965477  10.0  41.0  49.0  60.25  100.0
informatics   141.0  60.780142  19.419832   0.0  50.0  64.0  75.00  100.0

Найдите процент учащихся, выполнивших работу ниже среднего

In [172]:
pd.concat(
    [exams, stat['mean']],
    axis=1
).apply(
    lambda row: row[0].Балл[row[0].Балл < row['mean']].count() /
    row[0].shape[0] * 100,
    axis=1
)

rus            51.279528
math           48.005093
physics        56.271186
informatics    46.099291
dtype: float64