# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("data/sp500hst.txt", delimiter=",", names=("date", "ticker", "open", "high", "low", "close", "volume"))
data

            date ticker   open     high     low  close  volume
0       20090821      A  25.60  25.6100  25.220  25.55   34758
1       20090824      A  25.64  25.7400  25.330  25.50   22247
2       20090825      A  25.50  25.7000  25.225  25.34   30891
3       20090826      A  25.32  25.6425  25.145  25.48   33334
4       20090827      A  25.50  25.5700  25.230  25.54   70176
...          ...    ...    ...      ...     ...    ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2.1

In [1]:
cd data

E:\YandexDisk\Python\Ipynb\TOBD_2022\TOBD22_for_students\lr_PI21-3_7\lr2_pandas\data

In [2]:
import pandas as pd

In [3]:
recipes = pd.read_csv('recipes_sample.csv', delimiter=',', skiprows=1, names=["name", "id", "minutes", "contributor_id", "submitted", "n_steps", "description","n_ingredients"])

### Базовые операции с `DataFrame`

In [24]:
reviews= pd.read_csv('reviews_sample.csv', delimiter = ',', skiprows=1, names = ['Unnamed: 0', 'user_id', 'recipe_id', 'date', 'rating', 'review'])

In [25]:
reviews.head()

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

In [21]:
recipes.describe().T['mean']

id                2.218793e+05
minutes           1.233581e+02
contributor_id    5.635901e+06
n_steps           9.805582e+00
n_ingredients     9.008286e+00
Name: mean, dtype: float64

In [23]:
reviews.head()

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,NaN,user_id,recipe_id,date,rating,review
1,370476.0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
2,624300.0,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
3,187037.0,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
4,706134.0,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [8]:
recipes.isna().sum(axis=0)

name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64

In [ ]:
Null_stob_recipes = ((recipes.isna().sum()) / recipes.size) * 100
Null_stob_recipes

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

1.5 Создайте серию из 10 случайных названий рецептов.

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [ ]:
reviews.reset_index(drop=True)

In [ ]:
newpandadata = data_reviews.iloc[:, 1:].reset_index()
newpandadata

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [ ]:
mask = recipes.submitted.dt.year <= 2010
recipes[mask]

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [12]:
s1 = pd.Series(['a b  c d e', 'aa   bb cc'])
s1

0    a b  c d e
1    aa   bb cc
dtype: object

In [17]:
s1.str.split(' ').map(lambda lst: [x for x in lst if x])

0    [a, b, c, d, e]
1       [aa, bb, cc]
dtype: object

In [11]:
recipes.name.str.split()

0            [george, s, at, the, cove, black, bean, soup]
1                  [healthy, for, them, yogurt, popsicles]
2                     [i, can, t, believe, it, s, spinach]
3                                  [italian, gut, busters]
4           [love, is, in, the, air, beef, fondue, sauces]
                               ...
29995    [zurie, s, holey, rustic, olive, and, cheddar,...
29996             [zwetschgenkuchen, bavarian, plum, cake]
29997      [zwiebelkuchen, southwest, german, onion, cake]
29998                                       [zydeco, soup]
29999         [cookies, by, design, cookies, on, a, stick]
Name: name, Length: 30000, dtype: object

## Лабораторная работа №2.2

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

### Объединение таблиц `pd.DataFrame`

In [2]:
cd ./data/

E:\YandexDisk\Python\Ipynb\TOBD_2022\TOBD22_for_students\lr_PI21-3_7\lr2_pandas\data

In [4]:
import pandas as pd

In [8]:
recipes = pd.read_csv('recipes_sample.csv', delimiter=',', skiprows=1, names=["name", "id", "minutes", "contributor_id", "submitted", "n_steps", "description","n_ingredients"])

In [9]:
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN

In [6]:
reviews = pd.read_csv("reviews_sample.csv", sep=',', index_col=0)

In [7]:
reviews.head()

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

In [ ]:
reviews = pd.read_csv("reviews_sample.csv", sep=',', index_col=0)

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [10]:
notques5_1 = pd.merge(recipes,reviews, left_on="id", right_on="recipe_id")

In [12]:
notques5_1.drop(["minutes", "contributor_id", "submitted", "n_steps", "description", "n_ingredients", "recipe_id", "date" ], axis=1, inplace=True)

In [17]:
notques5_1

,name,id,user_id,rating,review
0,george s at the cove black bean soup,44123,743566,5,I lived in San Diego for 19 years and would g...
1,george s at the cove black bean soup,44123,76503,5,This soup is the Bomb! Don't hesitate to try.....
2,george s at the cove black bean soup,44123,34206,5,I just can't say enough about how wonderful th...
3,healthy for them yogurt popsicles,67664,494084,5,These are great! I use 100% (organic) juice a...
4,healthy for them yogurt popsicles,67664,303445,5,"Very, very good. My son loves these. He like..."
...,...,...,...,...,...
126691,zydeco soup,486161,305531,5,Delish! I made this as directed but used a smo...
126692,zydeco soup,486161,1271506,5,Now the only substitution I made was African B...
126693,zydeco soup,486161,724631,5,"Very tasty soup, moderate spiciness (even afte..."
126694,zydeco soup,486161,133174,5,Very yummy indeed. A spicy sausage was used i...
126695,cookies by design cookies on a stick,298512,804234,1,I would rate this a zero if I could. I followe...

In [20]:
notques5_1.review.isna().sum()

17

In [25]:
notques5_1[notques5_1.review.isna()]

Empty DataFrame
Columns: [name, id, user_id, rating, review]
Index: []

In [26]:
notques5_1 = pd.merge(recipes,reviews, left_on="id", right_on="recipe_id")
notques5_1.drop(["minutes", "contributor_id", "submitted", "n_steps", "description", 
                 "n_ingredients", "recipe_id", "date", "review" ], axis=1, inplace=True)
notques5_1

                                          name      id  user_id  rating
0        george s at the cove  black bean soup   44123   743566       5
1        george s at the cove  black bean soup   44123    76503       5
2        george s at the cove  black bean soup   44123    34206       5
3           healthy for them  yogurt popsicles   67664   494084       5
4           healthy for them  yogurt popsicles   67664   303445       5
...                                        ...     ...      ...     ...
126691                             zydeco soup  486161   305531       5
126692                             zydeco soup  486161  1271506       5
126693                             zydeco soup  486161   724631       5
126694                             zydeco soup  486161   133174       5
126695  cookies by design   cookies on a stick  298512   804234       1

[126696 rows x 4 columns]

In [ ]:
notques5_1 = pd.merge(recipes,reviews, left_on="id", right_on="recipe_id")
notques5_1.drop(["minutes", "contributor_id", "submitted", "n_steps", "description", "n_ingredients", "recipe_id", "date" ], axis=1, inplace=True)
ques5_1 = notques5_1.dropna(axis=0)
ques5_1.drop(["review"],axis=1, inplace=True)
ques5_1

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [ ]:
data_reviews3 = data_reviews.copy()
data_recipes3 = data_recipes.copy()

data_recipes3.rename(columns = {'id': 'recipe_id'}, inplace=True)
data_new1 = data_reviews3.iloc[:, [2, 5]].merge(data_recipes3.iloc[:,[0, 1]], on=['recipe_id'], how='left')
data_new1
data_new2 = data_new1.dropna(how='any')
review_count = pd.DataFrame({'review_count' : data_new2.groupby( ["recipe_id"] ).size()}).reset_index()

data_new1['recipe_id'] = data_new1['recipe_id'].drop_duplicates()
data_new1 = data_new1.dropna(how='any').drop('review', axis=1)
data_new1 = data_new1.iloc[:, [0, 1]].merge(review_count.iloc[:,[0, 1]], on=['recipe_id'], how='left')
data_new1['recipe_id'] = data_new1['recipe_id'].astype(int)
data_new1

In [ ]:
rev1 = reviews.groupby('recipe_id').count()
rev1.rename({'id':'review_count'},axis=1,inplace=True)
recrev = pd.merge(recipes[['id','name']],rev1['review_count'], left_on='id',right_index=True,how='left')
recrev.rename({'id':'recipe_id'},axis=1,inplace=True)
recrev['review_count'].fillna(0, inplace=True)
recrev[recrev['recipe_id']==diff['id'][26]]

In [ ]:
df3_merged = pd.merge(recipes1.iloc[:,[1,0]], reviews.iloc[:,[1,2,5]],left_on='id', right_on='recipe_id')
df3_merged.loc[df3_merged.review.isnull() == True ,"review_count"] = 0
df3_merged.loc[df3_merged.review.isnull() == False ,"review_count"] = 1
df4_merged = df3_merged.groupby(by='recipe_id').review_count.sum()


a23= pd.DataFrame({'recipe_id':df4_merged.index, 'name':df3_merged.groupby(by='recipe_id').name.sum(), 'review_count':df4_merged})
a23

In [34]:
reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [35]:
rev1 = reviews.groupby('recipe_id').count()
rev1.rename({'user_id':'review_count'},axis=1,inplace=True)

In [36]:
rev1.head()

           review_count  date  rating  review
recipe_id
48                    2     2       2       2
55                    4     4       4       4
66                   18    18      18      18
91                    4     4       4       4
94                    4     4       4       4

In [37]:
# rev1 = reviews.groupby('recipe_id').count()
# rev1.rename({'id':'review_count'},axis=1,inplace=True)
recrev = pd.merge(recipes[['id','name']],rev1['review_count'], left_on='id',right_index=True,how='left')
recrev.rename({'id':'recipe_id'},axis=1,inplace=True)
recrev['review_count'].fillna(0, inplace=True)

In [39]:
recrev[recrev.review_count ==  0]

       recipe_id                                     name  review_count
26        223349            pasta  with shrimp   eggplant           0.0
29        342620          secret ingredient  bbq meatloaf           0.0
35        276594        windy s  sweet and sour meatballs           0.0
49        216068  goulashy  beef stew for the slow cooker           0.0
59        306590             old bay  grilled steak fries           0.0
...          ...                                      ...           ...
29871      66966                       zingy potato salad           0.0
29903     249846       zucchini  mock green papaya  salad           0.0
29905     256177            zucchini and corn with cheese           0.0
29951     178243                       zucchini nut salad           0.0
29979     363362     zucchini with bell pepper and tomato           0.0

[1900 rows x 3 columns]

In [40]:
recrev[recrev['recipe_id']==diff['id'][26]]

NameError: name 'diff' is not defined

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [ ]:
with pd.ExcelWriter(r"./sample_data/HomeWorkPandas_ques5_1.xlsx") as writer:
    ques5_1.to_excel(writer, sheet_name="Рецепты с оценками")
    ques5_2.to_excel(writer, sheet_name="Количество отзывов по рецептам")

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3