# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2.1

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [20]:
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN

In [41]:
recipes.isna().any(axis=0)

name              False
id                False
minutes           False
contributor_id    False
submitted         False
n_steps            True
description        True
n_ingredients      True
dtype: bool

In [35]:
recipes['minutes'][1]

10

In [33]:
np1 = recipes.to_numpy()
type(np1), np1[1]

(numpy.ndarray,
 array(['healthy for them  yogurt popsicles', 67664, 10, 91970,
        '2003-07-26', nan,
        'my children and their friends ask for my homemade popsicles morning, noon and night. i never turn them down; who am i to tell them that they are good for them! for variety i substitute different flavours of frozen juice - grape, fruit punch, tropical etc.',
        nan], dtype=object))

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

1.5 Создайте серию из 10 случайных названий рецептов.

In [ ]:
(recipes["minutes"]<=20) & (recipes["n_ingredients"]<=5)

In [51]:
recipes['name'].sample(10, random_state=42)

13067         grilled vegetables with green curry marinade
1600            baby food  mini turkey meatballs  8 months
19996                pasta with marinated artichoke hearts
28413              unbelievably primo pork chops and gravy
4635                                      caramel brownies
15456                    kittencal s unstuffed pepper soup
4619                                   caramel apple bites
17228    mean chef s double chocolate chip cookies with...
12982                                grilled potato planks
365                         african grilled chicken breast
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [ ]:
reviews.index = range(len(reviews))
reviews

In [ ]:
reviews.index = [element for element in range(len(reviews))] 
reviews

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [11]:
cd data

E:\YandexDisk\Python\Ipynb\TOBD_2022\TOBD22_for_students\lr_PI21-3_7\lr2_pandas\data

In [1]:
import pandas as pd

In [3]:
cd ./data/

E:\YandexDisk\Python\Ipynb\TOBD_2022\TOBD22_for_students\lr_PI21-3_7\lr2_pandas\data

In [4]:
recipes = pd.read_csv('recipes_sample.csv', delimiter=',', skiprows=1, names=["name", "id", "minutes", "contributor_id", "submitted", "n_steps", "description","n_ingredients"])

In [7]:
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN

In [8]:
reviews = pd.read_csv("reviews_sample.csv", sep=',', index_col=0)

In [9]:
reviews.head()

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

In [13]:
recipes_copy_z6 = recipes.copy()

In [52]:
recipes_copy_z6["name"].str.split()

0            [george, s, at, the, cove, black, bean, soup]
1                  [healthy, for, them, yogurt, popsicles]
2                     [i, can, t, believe, it, s, spinach]
3                                  [italian, gut, busters]
4           [love, is, in, the, air, beef, fondue, sauces]
                               ...
29995    [zurie, s, holey, rustic, olive, and, cheddar,...
29996             [zwetschgenkuchen, bavarian, plum, cake]
29997      [zwiebelkuchen, southwest, german, onion, cake]
29998                                       [zydeco, soup]
29999         [cookies, by, design, cookies, on, a, stick]
Name: name, Length: 30000, dtype: object

In [ ]:
recipes_copy_z6["name_word_count"] = (recipes_copy_z6["name"].str.split()).str.len()

In [15]:
s1 = pd.Series(['a b  c d e', 'aa   bb cc'])
s1

0    a b  c d e
1    aa   bb cc
dtype: object

In [19]:
s1.str.split(' ')

0    [a, b, , c, d, e]
1     [aa, , , bb, cc]
dtype: object

## Лабораторная работа №2.2

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [10]:
reviews.pivot_table('rating', index='recipe_id', aggfunc='mean') #средний рейтинг к каждому из рецептов

             rating
recipe_id
48         1.000000
55         4.750000
66         4.944444
91         4.750000
94         5.000000
...             ...
536547     5.000000
536610     0.000000
536728     4.000000
536729     4.750000
536747     0.000000

[28100 rows x 1 columns]

In [12]:
recipes.id.map(lambda x: (reviews[reviews.recipe_id == x]).empty).sum()

1900

In [11]:
print(f'Средний рейтинг\n{reviews.groupby("recipe_id")["rating"].mean()}')

Средний рейтинг
recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64

In [14]:
print(f'без отзывов: {len(recipes["id"][~recipes["id"].isin(reviews["recipe_id"])])}')

без отзывов: 1900

In [16]:
(~recipes["id"].isin(reviews["recipe_id"])).sum()

1900

In [18]:
len(set(recipes['id'])), len(set(reviews["recipe_id"])), len(set(recipes['id'])-set(reviews["recipe_id"]))

(30000, 28100, 1900)

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [ ]:
rev = reviews.copy()
#rev.loc[(rev.rating == 0), 'rating'] = "a"

sr = rev.groupby("recipe_id",as_index = False)['rating'].apply(lambda x: x[x != 0].count())

sr['review_count'] = sr['rating']
sr.drop('rating',axis = 1,inplace=True)

df2 = pd.merge(recipes,sr, left_on = "id",right_on = "recipe_id")
df2.drop(["id" ,"minutes","contributor_id","submitted","n_steps","description","n_ingredients"],axis = 1,inplace=True)

In [19]:
reviews.groupby("recipe_id",as_index = False)['rating']

In [25]:
result.sort_values(by = 'review_count')

,name,recipe_id,review_count
3699,breakfast bowls,375288,0.0
22447,restaurant style light and healthy chicken bur...,481558,0.0
24850,sour lemon bars,60607,0.0
24853,sourdough bread egg and sausage casserole cat...,347596,0.0
25686,spinach toast,259963,0.0
...,...,...,...
27511,the sweetest blueberry muffins,50719,486.0
2964,beth s melt in your mouth barbecue ribs oven,107786,591.0
10744,fannie farmer s classic baked macaroni cheese,135350,674.0
15442,kittencal s moist cheddar garlic oven fried ch...,82102,708.0
27657,to die for crock pot roast,27208,1382.0

In [20]:
count = reviews.groupby('recipe_id')['review'].count()
result = pd.merge(recipes,count, how = 'outer', left_on = 'id', right_on = 'recipe_id')[['name','id','review']]
result = result.rename(columns = {'id':'recipe_id', 'review':'review_count'}).fillna(0)

In [24]:
result.head(20)

                                        name  recipe_id  review_count
0      george s at the cove  black bean soup      44123           3.0
1         healthy for them  yogurt popsicles      67664           8.0
2               i can t believe it s spinach      38798           3.0
3                       italian  gut busters      35173           1.0
4   love is in the air  beef fondue   sauces      84797           8.0
5                   mennonite  corn fritters      44045           5.0
6                       open sesame  noodles     107229           1.0
7                 say what   banana sandwich      95926          36.0
8         1 in canada chocolate chip cookies     453467           1.0
9                     412 broccoli casserole     306168           4.0
10                          25 000 casserole      50662           2.0
11             250 00 chocolate chip cookies     118843           3.0
12                         ara s potato  oup      69190           2.0
13   blepandekager   danish   apple pancakes     503475           1.0
14                  add in anything  muffins     149593           7.0
15              better than tofu  cheesecake     200148           2.0
16         burek  or feta cheese  phyllo pie     310570           4.0
17       da best  chicago style italian beef      95534          35.0
18                 german  barbecued carrots     109818           1.0
19                       healthy  fried rice      66932           8.0

In [22]:
count.head(), type(count)

(recipe_id
 48     2
 55     4
 66    18
 91     4
 94     4
 Name: review, dtype: int64,
 pandas.core.series.Series)

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [ ]:
with pd.ExcelWriter('excel6_2.xlsx') as writer:
    recipes_group.to_excel(writer, sheet_name='Рецепты с оценками')
    r_c_n.to_excel(writer, sheet_name='Количество отзывов по рецептам')

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3