# Оптимизация выполнения кода, векторизация, Numba

__Автор задач: Блохин Н.В. (NVBlokhin@fa.ru)__

Материалы:
* Макрушин С.В. "Оптимизация выполнения кода, векторизация, Numba"
* IPython Cookbook, Second Edition (2018), глава 4
* https://ipython-books.github.io/43-profiling-your-code-line-by-line-with-line_profiler/
* https://numba.pydata.org/numba-doc/latest/user/5minguide.html
* https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-reflection-for-list-and-set-types

## Задачи для совместного разбора

In [1]:
# !pip install git+https://github.com/pyutils/line_profiler.git
!pip install line_profiler
# !pip install --user numpy==1.20

Collecting line_profiler
  Downloading line_profiler-4.0.1-cp39-cp39-win_amd64.whl (82 kB)
Installing collected packages: line-profiler
Successfully installed line-profiler-4.0.1

In [2]:
import numpy as np
import numba
from numba import njit

1. Сгенерируйте массив `A` из `N=1млн` случайных целых чисел на отрезке от 0 до 1000. Пусть `B[i] = A[i] + 100`. Посчитайте среднее значение массива `B`.

In [5]:
N = 1_000_000
A = np.random.randint(0, 1000, N)
B = A + 100
np.mean(B), np.mean(A)

(599.285937, 499.285937)

2. Напишите функцию, которая возвращает сумму всех чисел от 0 до x-1. Примените функцию к каждому элементу массива.

In [10]:
def sumx(x):
    return np.sum(np.arange(x))
sumx_v = np.vectorize(sumx)
sumx_v(B)

array([235641,  59685, 431985, ..., 151525,  51360, 183921])

3. Создайте таблицу 2млн строк и с 4 столбцами, заполненными случайными числами. Добавьте столбец `key`, которые содержит элементы из множества английских букв. Выберите из таблицы подмножество строк, для которых в столбце `key` указаны первые 5 английских букв.

In [11]:
%load_ext line_profiler

In [12]:
import pandas as pd
import string

N = 2_000_000
df = pd.DataFrame(np.random.randn(N, 4), columns=[f"col{i}" for i in range(4)])
df["key"] = np.random.choice(list(string.ascii_letters.lower()), N, replace=True)
df.head(2)

       col0      col1      col2      col3 key
0 -0.882918  0.103939  0.460958 -2.375668   s
1  2.213133  0.075920 -0.823871  0.712522   q

In [14]:
def in_n(key):
    return key in "abcde"
in_n_vec = np.vectorize(in_n)
df[in_n_vec(df.key)]

             col0      col1      col2      col3 key
2       -1.674081  1.077885  1.205773 -0.305679   b
10      -0.919218  0.976939 -0.620981  0.544139   d
17      -1.079255  0.189474  0.247230 -0.217548   d
24      -0.911701 -0.110187 -0.395518 -0.595514   c
25       1.169336  0.481727 -0.751359  0.744799   d
...           ...       ...       ...       ...  ..
1999967 -0.510435 -2.204288 -1.991320 -0.120440   d
1999968 -0.981010  2.142351 -0.689206 -1.067534   a
1999993  0.550008 -0.139919 -1.056733 -1.900924   a
1999995  0.518024 -0.271586 -0.080850  0.360681   a
1999999 -0.731895 -1.069268 -0.540366 -0.449787   a

[383822 rows x 5 columns]

## Лабораторная работа 3

In [15]:
import numpy as np
import pandas as pd
from numba import jit, njit
import numba
from typing import Union

%load_ext line_profiler

The line_profiler extension is already loaded. To reload it, use:
  %reload_ext line_profiler

В файлах `recipes_sample.csv` и `reviews_sample.csv` (__ЛР 2__) находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца(ов) с индексами. Приведите столбцы к нужным типам.

In [16]:
import pandas as pd

## Измерение времени выполнения кода

Назовем полным описанием рецепта строку, полученную путем конкатенации названия и описания рецепта через пробел. Удалите строки для рецептов, которые были добавлены не в 2010 году.

Реализуйте несколько вариантов функции подсчета средней длины полного описания рецепта для рецептов, добавленных в 2010 году.

In [28]:
recipes = pd.read_csv("recipes_sample.csv", parse_dates=["submitted"])
reviews = pd.read_csv("reviews_sample.csv", index_col=0, parse_dates=["date"])

In [31]:
recipes2010 = recipes[recipes.submitted.dt.year==2010]
recipes2010.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
52,just peachy cobbler,437637,70,1085867,2010-09-17,10.0,all i can say is yummmmmm . . . a simple to ma...,10.0
68,the heat spicy party mix,437219,95,1682162,2010-09-13,NaN,a spicy chex mix that will really warm your gu...,11.0
81,iowa state fair sweet dough caramel cinnamon ...,435816,80,17803,2010-08-24,29.0,this was the winning entry at the 2010 iowa st...,NaN
104,1 minute blueberries cream,428566,2,1375473,2010-06-04,4.0,i was craving blueberry tonight but wanted non...,NaN
146,2 2 2 diet mocha,416599,5,789314,2010-03-15,5.0,"while trying to come up with a satisfying ""sna...",7.0

1\.1 С использованием метода `DataFrame.iterrows` таблицы:

    - функция принимает на вход таблицу, содержащую рецепты за 2010 год;
    
    - нахождение полного описания рецепта осуществляется внутри цикла по `iterrows` для каждой строки по отдельности.

In [40]:
def get_mean_len_A(df: pd.DataFrame) -> float:
    temp = np.empty(0)
    for id_, row in df.iterrows():
        temp = np.append(temp, len(f"{row['name']} {row.description}"))
    return np.sum(temp)/temp.shape[0]

In [41]:
get_mean_len_A(recipes2010)

265.501300390117

1\.2. С использованием метода `DataFrame.apply` таблицы:

    - функция принимает на вход таблицу, содержащую рецепты за 2010 год;
    
    - вызываете метод apply у таблицы, в качестве аргумента передаете функцию, которая возвращает полное описание для каждой строки;
    
    - считаете среднюю длину описаний, вызвав соответствующий метод серии.

In [48]:
def get_mean_len_B(df: pd.DataFrame) -> float:
    return df.apply(lambda row: f"{row['name']} {row.description}", axis=1).str.len().mean()

In [49]:
get_mean_len_B(recipes2010)

265.501300390117

1\.3. С использованием векторизованных методов серий `pd.Series`:

    - функция принимает на вход таблицу, содержащую рецепты за 2010 год;
    
    - при помощи векторизированных операций получаете столбец с полным описанием;
    
    - при помощи векторизированных операций получаете длины полного описания;
    
    - при помощи метода серий получаете среднюю длину полных описаний.

In [68]:
def get_mean_len_C(df: pd.DataFrame) -> float:
    full_names = df['name'] + ' ' + df.description
    vec_len = np.vectorize(lambda row: len(row))
    lens = vec_len(full_names)
    return lens.mean()

In [65]:
get_mean_len_C(recipes2010)

265.501300390117

1.4 Проверьте, что результаты работы всех написанных функций корректны и совпадают. Измерьте выполнения всех написанных функций при помощи магических команд `time` и `timeit`.

In [77]:
%time get_mean_len_A(recipes2010)
%time get_mean_len_B(recipes2010)
%time get_mean_len_C(recipes2010)

CPU times: total: 46.9 ms
Wall time: 54 ms
CPU times: total: 15.6 ms
Wall time: 8.53 ms
CPU times: total: 0 ns
Wall time: 0 ns

265.501300390117

In [78]:
%timeit get_mean_len_A(recipes2010)
%timeit get_mean_len_B(recipes2010)
%timeit get_mean_len_C(recipes2010)

51.6 ms ± 221 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
14.9 ms ± 24.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
499 µs ± 337 ns per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

## Анализ пошагового выполнения кода

Вам предлагается воспользоваться функцией, которая собирает статистику о том, сколько отзывов содержат то или иное слово.

In [83]:
%%writefile mprun_for.py

import re


def get_word_reviews_count(df):
    word_reviews = {}
    for _, row in df.dropna(subset=["review"]).iterrows():
        recipe_id, review = row["recipe_id"], row["review"]
        words = re.sub("[^A-Za-z\s]", "", review).split(" ")
        for word in words:
            if word not in word_reviews:
                word_reviews[word] = []
            word_reviews[word].append(recipe_id)

    word_reviews_count = {}
    for _, row in df.dropna(subset=["review"]).iterrows():
        review = row["review"]
        words = re.sub("[^A-Za-z\s]", "", review).split(" ")
        for word in words:
            word_reviews_count[word] = len(word_reviews[word])
    return word_reviews_count

Writing mprun_for.py

In [84]:
from mprun_for import get_word_reviews_count

In [80]:
reviews.head()

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

2.1 Найдите узкие места в коде, проанализировав код функции по шагам, используя профайлер. Сохраните результаты работы профайлера в отдельную текстовую ячейку. Выпишите (словами), что в имеющемся коде реализовано неоптимально.

In [85]:
%lprun -f get_word_reviews_count get_word_reviews_count(reviews)

In [ ]:
Timer unit: 1e-07 s

Total time: 30.7155 s
File: C:\Users\Nikita\Desktop\ShaRinGan\TOBD\8\mprun_for.py
Function: get_word_reviews_count at line 5

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
     5                                           def get_word_reviews_count(df):
     6         1          5.0      5.0      0.0      word_reviews = {}
     7    126679   78634014.0    620.7     25.6      for _, row in df.dropna(subset=["review"]).iterrows():
     8    126679   26389886.0    208.3      8.6          recipe_id, review = row["recipe_id"], row["review"]
     9    126679   10004130.0     79.0      3.3          words = re.sub("[^A-Za-z\s]", "", review).split(" ")
    10   6792010   11979487.0      1.8      3.9          for word in words:
    11   6698951   16224219.0      2.4      5.3              if word not in word_reviews:
    12     93059     283698.0      3.0      0.1                  word_reviews[word] = []
    13   6792010   22535409.0      3.3      7.3              word_reviews[word].append(recipe_id)
    14                                           
    15         1          2.0      2.0      0.0      word_reviews_count = {}
    16    126679   75858812.0    598.8     24.7      for _, row in df.dropna(subset=["review"]).iterrows():
    17    126679   14684557.0    115.9      4.8          review = row["review"]
    18    126679   10055020.0     79.4      3.3          words = re.sub("[^A-Za-z\s]", "", review).split(" ")
    19   6792010   12083794.0      1.8      3.9          for word in words:
    20   6792010   28422129.0      4.2      9.3              word_reviews_count[word] = len(word_reviews[word])
    21         1          3.0      3.0      0.0      return word_reviews_count

работа со списком занимает много времени, как и итерация циклов построчно

2.2  Оптимизируйте функцию и добейтесь значительного (как минимум, в 5 раз) прироста в скорости выполнения. Для демонстрации результата измерьте скорость выполнения оригинальной функции и функции, написанной вами.

In [90]:
reviews.review[370476]

"Last week whole sides of frozen salmon fillet was on sale in my local supermarket, so I bought tons (okay, only 3, but total weight was over 10 pounds).  This recipe is perfect for salmon fillet, even though it calls for salmon steaks.  I cut up the salmon into individual portions and followed the instructions exactly.  I'm on one of those food combining diets, so I left out the white wine but added just a dash of white wine vinegar instead (just a little bit, not enough to change the taste of the dish).  Super yummy, and leftovers for lunch today (lucky me)!"

In [95]:
import re

def get_word_reviews_count_remastered(df):
    df = df.dropna(subset=["review"])
    reviews_s = df.review.apply(lambda s: re.sub("[^A-Za-z\s]", "", s).split(" "))
    word_reviews_count = {}
    for review in reviews_s:
        for word in review:
            if word not in word_reviews_count:
                word_reviews_count[word] = 0
            word_reviews_count[word]+=1
    return word_reviews_count

In [98]:
%timeit get_word_reviews_count(reviews)
%timeit get_word_reviews_count_remastered(reviews)

9.97 s ± 95.9 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
1.81 s ± 12.7 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

## Numba

В файле `rating_predictions.json` хранятся данные о рейтингах рецептов и прогнозных значениях рейтингов для этого рецепта, полученных при помощи модели машинного обучения. 

Напишите несколько версий функции (см. [MAPE](https://en.wikipedia.org/wiki/Mean_absolute_percentage_error)) для расчета среднего абсолютного процентного отклонения значения рейтинга отзыва на рецепт от прогнозного значения рейтинга для данного рецепта. 


Замечание 1: в формуле MAPE под $A_t$ понимается рейтинг из отзыва $t$, под $F_t$ - прогнозное значения рейтинга отзыва $t$.

Замечание 2: в результате работы функций должно получиться одно число - MAPE для всего набора данных.

In [122]:
import json
A_list = []
F_list = []
with open("rating_predictions.json", "r") as file:
     gg = json.load(file)
for g in gg:
    A_list.append(g["rating"])
    F_list.append(g['prediction'])

3\.1 Создайте два списка `A_list` и `F_list` на основе файла `rating_predictions.json`. Напишите функцию `mape_lists` без использования векторизованных операций и методов массивов `numpy` и без использования `numba` (проитерируйтесь по спискам и вычислите суммарное значение MAPE для всех элементов, а потом усредните результат).

Измерьте время выполнения данной функции на входных данных `A_list` и `F_list`. Временем, затрачиваемым на создание списков, можно пренебречь.

In [126]:
def mape_lists(A, F):
    res = 0
    for a, f in zip(A,F):
        res += abs((a-f)/a)
    return res/len(A)

In [128]:
mape_lists(A_list, F_list)

0.13325265503992637

In [127]:
%timeit mape_lists(A_list, F_list)

11.5 ms ± 188 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

3\.2. Создайте массивы `numpy` `A_array` и `F_array` на основе списков `A_list` и `F_list`. Напишите функцию `mape_numpy` с использованием векторизованных операций и методов массивов `numpy`.

Измерьте время выполнения данной функции на входных данных `A_array` и `F_array`. Временем, затрачиваемым на создание массивов, можно пренебречь.

In [130]:
A_array = np.array(A_list)
F_array = np.array(F_list)

def mape_numpy(A, F):
    return np.abs((A-F)/A).mean()

In [131]:
mape_numpy(A_array, F_array)

0.13325265503991449

In [132]:
%timeit mape_numpy(A_array, F_array)

128 µs ± 908 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

3\.3. Создайте объекты `numba.typed.List` `A_typed` и `F_typed` на основе списков `A_list` и `F_list`. Напишите функцию `mape_numba` без использования векторизованных операций и методов массивов `numpy`, но с использованием `numba`. 

Измерьте время выполнения данной функции на входных данных `A_typed` и `F_typed`. Временем, затрачиваемым на создание объектов `numba.typed.List`, можно пренебречь.

Измерьте время выполнения данной функции на входных данных `A_array` и `F_array`.

In [136]:
A_typed = numba.typed.List(A_list)
F_typed = numba.typed.List(F_list)

@njit
def mape_numba(A, F):
    res = 0
    for a, f in zip(A,F):
        res += abs((a-f)/a)
    return res/len(A)

In [139]:
%timeit mape_numba(A_typed, F_typed)

870 µs ± 2.03 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

## Векторизация

Сайт-агрегатор устроил акцию: он дарит купоны на посещение ресторана тем пользователям, оставившим отзывы, идентификатор которых является _красивым числом_. Натуральное число называется _красивым_, если первая цифра числа совпадает с последней цифрой числа.

4\.1 Напишите функцию `is_pretty`, которая для каждого идентификатора пользователя из файла определяет, получит ли он подарок. Запрещается преобразовывать идентификатор пользователя к строке. Подтвердите корректность реализации, продемонстрировав примеры.

In [144]:
ids = reviews["recipe_id"].values

In [148]:
def is_pretty(n: int) -> bool:
    last = n % 10
    while n>=10:
        n//=10
    return n == last

In [152]:
is_pretty(54333215), is_pretty(14333215)

(True, False)

4\.2 Посчитайте с помощью функции `is_pretty` количество пользователей, которые получат подарок. Выведите это количество на экран. Измерьте время расчетов для входных данных `ids`.

In [157]:
count = 0
for id_ in ids:
    if is_pretty(id_):
        count+=1
count

11955

In [155]:
%%timeit
count = 0
for id_ in ids:
    if is_pretty(id_):
        count+=1

168 ms ± 1.32 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

4\.3. При помощи `numpy` создайте векторизованную версию функции `is_pretty`. Посчитайте с помощью этой векторизованной функции количество пользователей, которые получат подарок. Выведите это количество на экран. Измерьте время расчетов для входных данных `ids`.

In [158]:
vec_is_pretty = np.vectorize(is_pretty)

In [164]:
np.sum(vec_is_pretty(ids))

11955

In [163]:
%%timeit
np.sum(vec_is_pretty(ids))

37.1 ms ± 184 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

4\.4. При помощи `numba` создайте векторизованную версию функции `is_pretty`. Посчитайте с помощью этой векторизованной функции количество пользователей, которые получат подарок. Выведите это количество на экран. Измерьте время расчетов для входных данных `ids`.

In [170]:
@njit
def is_pretty_numba(arr):
    count = 0
    for n in arr:
        last = n % 10
        while n>=10:
            n//=10
        if n == last:
            count+=1
    return count

In [171]:
is_pretty_numba(ids)

11955

In [172]:
%%timeit
is_pretty_numba(ids)

792 µs ± 243 ns per loop (mean ± std. dev. of 7 runs, 1,000 loops each)